body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.thumbnail {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* It's for background color for pizza.html */
#pp {
    background-color: rgb(246, 190, 118);
}

img.pizza {
    width: 570px;
    border-radius: 10px;
}

/*This is for the curry html*/
#cc {
    background-color: rgb(255, 200, 134);
}

img.curry{
    border-radius: 10px;
}

/*This is for the Yakitori html*/
#yy {
    background-color: rgb(230, 177, 112);
}

img.yakitori{
    border-radius: 10px;
    width: 570px;
}